<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PostVersus</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Inscription</servlet-name>
  	<servlet-class>controller.Inscription</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Inscription</servlet-name>
  	<url-pattern>*.inscription</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>controller.Login</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Recherche</servlet-name>
  	<servlet-class>controller.Recherche</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Recherche</servlet-name>
  	<url-pattern>/recherche</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>VoirListeEvenement</servlet-name>
  	<servlet-class>controller.VoirListeEvenement</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>VoirListeEvenement</servlet-name>
  	<url-pattern>/voirListeEvenement</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Deconnexion</servlet-name>
  	<servlet-class>controller.Deconnexion</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Deconnexion</servlet-name>
  	<url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>LienParticipationPhoto</servlet-name>
  	<servlet-class>controller.LienParticipationPhoto</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LienParticipationPhoto</servlet-name>
  	<url-pattern>/lienParticipationPhoto</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LienParticipationTexte</servlet-name>
  	<servlet-class>controller.LienParticipationTexte</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LienParticipationTexte</servlet-name>
  	<url-pattern>/lienParticipationTexte</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
  	<servlet-name>LienAccueil</servlet-name>
  	<servlet-class>controller.LienAccueil</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LienAccueil</servlet-name>
  	<url-pattern>/lienAccueil</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>VoirMessage</servlet-name>
  	<servlet-class>controller.VoirMessage</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>VoirMessage</servlet-name>
  	<url-pattern>/voirMessage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VoirDiscussion</servlet-name>
  	<servlet-class>controller.VoirDiscussion</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>VoirDiscussion</servlet-name>
  	<url-pattern>/voirDiscussion</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>VoirAmis</servlet-name>
  	<servlet-class>controller.VoirAmis</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>VoirAmis</servlet-name>
  	<url-pattern>/voirAmis</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AffichageCreationEvenement</servlet-name>
  	<servlet-class>controller.AffichageCreationEvenement</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AffichageCreationEvenement</servlet-name>
  	<url-pattern>/affichageCreationEvenement</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>VoirListeMembre</servlet-name>
  	<servlet-class>controller.VoirListeMembre</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>VoirListeMembre</servlet-name>
  	<url-pattern>/voirListeMembre</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DemanderAmi</servlet-name>
  	<servlet-class>controller.DemanderAmi</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DemanderAmi</servlet-name>
  	<url-pattern>/demanderAmi</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>AccepteDemande</servlet-name>
  	<servlet-class>controller.AccepteDemande</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AccepteDemande</servlet-name>
  	<url-pattern>/accepteDemande</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>CreerEvenement</servlet-name>
  	<servlet-class>controller.CreerEvenement</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CreerEvenement</servlet-name>
  	<url-pattern>/creerEvenement</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ParticiperPhoto</servlet-name>
  	<servlet-class>controller.ParticiperPhoto</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ParticiperPhoto</servlet-name>
  	<url-pattern>/participerPhoto</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>LoginMobile</servlet-name>
  	<servlet-class>controller.LoginMobile</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginMobile</servlet-name>
  	<url-pattern>/loginMobile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>VoirListeEventMobile</servlet-name>
  	<servlet-class>controller.VoirListeEventMobile</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>VoirListeEventMobile</servlet-name>
  	<url-pattern>/voirListeEventMobile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>CreerEvenementMobile</servlet-name>
  	<servlet-class>controller.CreerEvenementMobile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreerEvenementMobile</servlet-name>
  	<url-pattern>/creerEvenementMobile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>LienAccueilMobile</servlet-name>
  	<servlet-class>controller.LienAccueilMobile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LienAccueilMobile</servlet-name>
  	<url-pattern>/lienAccueilMobile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>VoirAmisMobile</servlet-name>
  	<servlet-class>controller.VoirAmisMobile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VoirAmisMobile</servlet-name>
  	<url-pattern>/voirAmisMobile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>Jaime</servlet-name>
  	<servlet-class>controller.Jaime</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Jaime</servlet-name>
  	<url-pattern>/jaime</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>JaimeMobile</servlet-name>
  	<servlet-class>controller.JaimeMobile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JaimeMobile</servlet-name>
  	<url-pattern>/jaimeMobile</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Jaimepas</servlet-name>
  	<servlet-class>controller.Jaimepas</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Jaimepas</servlet-name>
  	<url-pattern>/jaimepas</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>JaimepasMobile</servlet-name>
  	<servlet-class>controller.JaimepasMobile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JaimepasMobile</servlet-name>
  	<url-pattern>/jaimepasMobile</url-pattern>
  </servlet-mapping>
  
</web-app>